@import url("../fonts/fonts.css");
@import url("./main.css");

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.container{
	width: 741px;
	height: 595px;
	background-color: #C8E1FF;
	padding: 32px 26px 30px 15px;
	display: flex;
	align-items: flex-start;
}
table{
	border-spacing: 1px;
	width: 100%;
}



.main{
	width: calc(100% - 170px);
	background-color: #9BC2F1;
	padding: 10px 9px 9px 9px;
}
.main-top{
	border-radius: 3px;
	width: 100%;
	display: flex;
	background-color: #4C8FDD;
	padding: 10px 9px 9px 9px;
}

.bottom-list{
	margin-top: 50px;
	border-radius: 3px;
	width: 100%;
	background-color: #4C8FDD;
	padding: 5px 5px 5px 5px;
}
.main .title{
	margin-left: 15px;
	margin-right: 15px;
	justify-content: center;
	background-color: #0C4E9B;
	border-radius: 5px;
	height: 16px;
	display: flex;
	padding: 3px;
	color: #fff;
	font-size: 12px;
	font-family: "rationale";
	line-height: 100%;
	text-transform: uppercase;
	margin-bottom: 10px;
}

div.form-group {
	width: 121px;
}

div.form-group input{
	width: 50%;
	float: right;
	margin-top: 5px;
}
div.form-group div:not(.title) {
	margin-top: 5px;
}


input {
	border-radius: 3px;
	border: 0;
	height: 13px;
	font-size: 7px;
	padding: 2px 4px;
}

label {
	border: 0;
	color: white;
	font-size: 8px;
	font-weight: 100;
}

div.form-group button {
	font-size: 8px;
	background-color: white;
	color: #0C4E9B;
	padding: 2px 4px;
	border-radius: 3px;
	margin-left: 10px;
}
.table__bottom.page2 button img{
	width: 13px;
	height: 13px;
}
.table__bottom.page2 button{
	height: 17px;
}


.bottom__footer {
	display: flex;
	align-items: center;
	height: 25px;
	width: 100%;
}

.footer__item {
	height: 100%;
	background-color: #0861CA;
	box-shadow: 0px -1.12075px 2.24151px rgb(0 0 0 / 25%);
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "rationale";
	font-size: 15px;
	line-height: 100%;
	letter-spacing: 0.06em;
	color: #FFFFFF;
}

.exchange_list {
	width: 121px;
	height: 117px;
	margin-left: 10px;
}

.exchange_list-scroll {
	overflow-y: auto;
	height: 75%;
}
.exchange_list .head-title {
	padding: 2px 4px;
	font-size: 12px;
	font-family: "rationale";
	line-height: 100%;
	text-transform: uppercase;
	background-color: #0C4E9B;
	color: white;
	border-radius: 3px 3px 0 0;
}
.exchange_list .head-title span {
	float: right;
}
.exchange_list .head-title span img {
	width: 10px;
}

.exchange_list .second-row table {
	width: 100%;
}

.exchange_list table td, th {
	background-color: #fff;
	font-family: "rationale";
	font-size: 8px;
	color: #000000;
	height: 13px;
}

.bottom-list table td, th {
	background-color: #fff;
	font-family: "rationale";
	font-size: 8px;
	color: #000000;
	height: 13px;
}
.bottom-list table th {
	background-color: #0C4E9B;
	font-family: "rationale";
	font-size: 8px;
	color: white;
	line-height: 100%;
	height: 13px;
}

.exchange_list-scroll::-webkit-scrollbar {
	width: 10px;
	background-color: #0C4E9B;
}


/* Handle */
.exchange_list-scroll::-webkit-scrollbar-thumb {
	background: white;
}

